<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://alexclifton.co.uk/style.css">
    <title>Game Demo</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <script src="joystick.js"></script>
    <script src="actor.js"></script>
    <script src="network.js"></script>
    <script src="main.js"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <a href="https://alexclifton.co.uk/games" class="navbar-brand">
        Alex Clifton - Games
      </a>
    </nav>

    <main role="main" class="container">
      <div class="content">
        <h1>Multiplayer Game Demo</h1>
        <div id="gameContainer"></div>
        <p>I wanted to see if I could make the basics of a multiplayer game system, inspired by Among Us. This is a simple demo with only a joystick which moves a square around the screen, but multiple players can be online at the same time.</p>
        <p>The code can be found <a href="https://github.com/alexclifton4/game-demo">on GitHub</a>. The server is written with Node.js, while the client uses vanilla JS and PIXI.js for graphics. The two communicate using WebSockets.</p>
        <p>Among Us was made with Unity and almost definitely uses a library for network communications, so the goal of this for me was not to replicate the game, but instead the network layer.</p>
        <h3>Game architecture</h3>
        <p>The graphics update at roughly 60 fps, while the network updates about 10 times per second. Every 100ms, the client sends its location to the server, and the server sends out an update with the positions of all clients. (This is not a call and response, the client and server have their own timer and initiate the messages themselves.)</p>
        <p>As the players location updates 6 times slower than the graphics are rendered, this would result in jittery movement, so I implemented entity interpolation. The client delays rendering the other players by 2 network frames and interpolates between it's known positions.</p>
        <p>However, as the client sends its position to the server, and the server simply forwards this to the other clients, there is no protection against cheating. The next step would be to make the server authoritative, with the most common way of doing this being for the client to send the inputs from the joystick, instead of the position of the player. The server could them use this to calculate game logic, and then send player locations to all the clients. To make this easier, I decided to make the joystick only use a few discrete values.</p>
        <p>The following websites were really useful and helped me understand all of this:</p>
        <p><a href="https://www.gabrielgambetta.com/client-server-game-architecture.html" target="_blank">Gabriel Gambetta</a></p>
        <p><a href="https://developer.valvesoftware.com/wiki/Source_Multiplayer_Networking" target="_blank">Valve Developer Community</a></p>
      </div>
    </main>
  </body>
</html>